<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LEPgyerApiKey</key>
	<string>25ca80dbd2a141072e37590de146bba6</string>
	<key>LEPgyerUKey</key>
	<string>745a408791af3dd0df4bd4204242a084</string>
	<key>LEPgyerUpdateNote</key>
	<string>v1.2.0更新内容：
接口更改为网易彩票的接口
v1.1.2更新内容：
修复篮球不能追号的bug
v1.1.1更新内容：
接口更改
v1.1.0更新内容：
新增篮球追号功能
v1.0.8更新内容：
1.优化代码逻辑
2.优化在刚选上下期号码以后，再按保存按钮提示“显示的账号与保存的账号一样，无需保存”
v1.0.7更新内容：
1.修复在停止按钮停止状态下也能保存下次预测号码的bug
2.优化提示框背景显示为黑色
v1.0.6更新内容：自定义数据库路径，配合开放Document权限使用新增篮球追号功能
v1.0.8更新内容：
1.优化代码逻辑
2.优化在刚选上下期号码以后，再按保存按钮提示“显示的账号与保存的账号一样，无需保存”
v1.0.7更新内容：
1.修复在停止按钮停止状态下也能保存下次预测号码的bug
2.优化提示框背景显示为黑色
v1.0.6更新内容：自定义数据库路径，配合开放Document权限使用</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
